.page {
    height: 100vh;
    width: 100%;
    background-image: url("src\\assets\\images\\uvt-background.png");
    background-size: cover;
    background-position: right bottom 10%; /* Adjust this value to move the picture higher */
}
.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: 90%;
    width: 100%;
}

.outlet {
    width: 100%;
}
.footer{
    height: 30%;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    height: 5%;
    width: 100%;

}