.container {
  height: 100%;
  display: flex;
  width: 100%;
  margin: auto;
  background-color: white;
  flex-direction: column;
  margin-top: 5%;
}

.jobsContainer {
  display: flex;
  flex-direction: column;
  min-height: 120vh;
}

.jobs {
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
}

.job {
  display: flex;
  flex-direction: row;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.jobDescription {
  padding-left: 10px;
}

.jobImg {
  display: flex;
  width: 150px;
  height: 150px;
  text-align: center;
}

.jobDescriptionTitle a {
  font-size: x-large;
}

.card {
  background-color: var(--mantine-color-body);
}

.title {
  font-weight: bold;
  font-family: Greycliff CF, var(--mantine-font-family);
  line-height: 1.2;
}

.body {
  padding: var(--mantine-spacing-md);
}

.title {
  color: white;
}

.mainBody {
  display: flex;
  margin: auto;
  width: 70%;
}

.leftSide {
  width: 30%;
}

.rightSide {
  width: 70%;
}

.filter {
  margin-left: 20px;
}

.topHeader {
  height: 5rem;
  margin-bottom: 5px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  height: 5rem;
}

.search {
  width: 30%;
}

.filterBody {
  box-shadow: 1px 1px 5px 1px rgba(0.2, 0.2, 0.2, 0.2);
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  margin: 5px;
  background-color: aliceblue;
}

.cityInput {
  position: relative;
}

.cityInput input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 150px; /* Adjust height as needed */
  overflow-y: auto;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f1f1f1;
}

.filterOptions {
  display: flex;
  flex-direction: column;
}

.scrollableOptions {
  max-height: 150px; /* Adjust height as needed */
  overflow-y: auto;
}

.error {
  color: red;
  margin-bottom: 20px;
}

.jobsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.pagination {
  margin: 2rem auto;
}

.filterButton {
  display: none;
}

.show {
  display: block;
}

.hide {

  /* display: none; */
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin-top: 10%;
  }

  .mainBody {
    flex-direction: column;
    width: 100%;
  }

  .leftSide, .rightSide {
    width: 100%;
  }

  .search {
    width: 80%;
  }

  .filterBody {
    width: 90%;
    margin: 10px auto;
  }

  .filterButton {
    display: block;
    margin: 10px auto;
  }

  .filter {
    display: none;
  }

  .filter.show {
    display: block;
  }
}
