.container {
  height: 100%;
  display: flex;
  width: 80%;
  margin: auto;
  background-color: white;
  flex-direction: column;
  margin-top: 5%;
}

.jobsContainer {
  height: 1200px;
}

.jobs {
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
  margin: auto;
}

.job {
  display: flex;
  flex-direction: row;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.jobDescription {
  padding-left: 10px;
}

.jobImg {
  display: flex;
  width: 150px;
  height: 150px;
  text-align: center;
}

.jobDescriptionTitle a {
  font-size: x-large;
}

.card {
  background-color: var(--mantine-color-body);
}

.title {
  font-weight: bold;
  font-family: Greycliff CF, var(--mantine-font-family);
  line-height: 1.2;
}

.body {
  padding: var(--mantine-spacing-md);
}

.title {
  color: white;
}

.mainBody {
  display: flex;
  margin: auto;
  width: 70%;
}

.leftSide {
  width: 30%;
}

.rightSide {
  width: 60%;
}

.filter {
  margin-left: 20px;
}

.header {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.search {
  width: 30%;
}

.filterBody {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  width: 70%;
  padding: 20px;
  border-radius: 10px;
  margin: 5px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .container {
    width: 100%;
    margin-top: 10%;
  }

  .mainBody {
    flex-direction: column;
    width: 100%;
  }

  .leftSide, .rightSide {
    width: 100%;
  }

  .search {
    width: 80%;
  }

  .filterBody {
    width: 90%;
    margin: 10px auto;
  }
}
