
.container{
    width: 50%;
    margin: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    border: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
    transition: background-color 150ms ease;
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
    width: 100%;
    &[data-expanded] {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
    }
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
    }
  }
  
  .label {
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
    
  }
  
  .icon {
    transition: transform 150ms ease;
    transform: rotate(0deg);
  
    [data-expanded] & {
      transform: rotate(180deg);
    }
  }

  .menuContainer{
    display: flex;
    justify-content: space-between;

  }
  .menuLabel {
    
    font-size: 16px; /* Example size, adjust as needed */
    color: #333; /* Dark grey text color */
    font-weight: bold; /* Bold text */
    padding: 8px 0; /* Spacing above and below the text */
    text-align: left; /* Align text to the left */
}
.menuButton{
  flex: 1 1;
}
.menuLabel{
  font-size: 13px;
  font-weight: 500;
  font-size: var(--input-label-size, var(--mantine-font-size-sm));
  word-break: break-word;

}
