.TrendingPosts {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 300px;
  }
  
  .TrendingPostsHeader {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .event {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
  
  .userImage {
    font-weight: bold;
    font-size: 1em;
    margin-right: 10px;
    color: #333;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    min-width: 20%;
    max-width: 20%;
  }
  
  .eventTitle {
    font-size: 0.9em;
    color: #666;
  }
  
  /* The last event should not have a border-bottom */
  .event:last-child {
    border-bottom: none;
  }
  .user {
    display: block;
    width: 100%;
    padding: var(--mantine-spacing-md);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
    }
  }